/* styles.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: cursive;
}

.badge {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transform: rotate(20deg);
  background: #eb9b0f;
  color: black;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* works (kinda) for a smaller screen, loses form in bigger. no sausage form reached yet, pray for ascension */

.header::before,
.header::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid hsl(16, 76%, 21%);
  border-radius: 10px 10px 0px 0px;
}

.header::before {
  left: -50px; /* Adjust the distance of the left triangle */
  transform: rotate(90deg);
  bottom: 50px;
  margin-left: 0;
  margin-top: 5%;
  z-index: -1;
}

.header::after {
  right: -5%; /* Adjust the distance of the right triangle */
  transform: rotate(270deg);
  margin-top: 6%;
}

.header {
  padding-inline: 2rem;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-style: inset;
  border-color: #eb9b0f;
  border-radius: 100px 100px 100px 100px;
  transform: rotate(2deg);
  background: radial-gradient(closest-side, #d68a1f, hsl(16, 76%, 21%));
  position: relative;
  margin-left: 5%;
  margin: right 5%;
  margin: top 5%;
}

.uptown {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust to column layout */
}

.main-heading {
  margin: 0; /* Reset margin for the h1 element */
}

.triangle {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main-heading {
  font-size: 1em;
  margin: 0; /* Reset margin for the h1 element */
}

.profession {
  font-size: 1em;
}

.uptown h1 {
  margin: 0;
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

body {
  margin: 0;
}

*::selection {
  background-color: plum;
}

@media screen and (min-width: 992px) {
  .badge {
    position: fixed;
  }
}

@media screen and (max-width: 992px) {
  .uptown {
    margin-top: 3rem;
  }
}

@media print {
  .badge {
    display: none;
  }

  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: black;
}

.nav-link:hover {
  color: black;
  background-color: lightgray;
}

.nav-link:active {
  color: white;
  background-color: grey;
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.125rem solid grey;
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

/*  Add a footer to your cv
 Add a text to the footer, i.e. "Did you like my CV? Contact me"
 Give the footer a background color or a gradient */
.downtown {
  font-size: small;
  background: radial-gradient(closest-side, #c6d8c6, hsl(202, 35%, 72%));
}
